#main-container{
    display: flex;
    flex-direction: column;
}
#main-container .header{
    height: 80px;
    border-bottom: 1px solid #aaa;
    line-height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

#main-container h1{
    margin: 0;
}

#main-container h1 a {
    color: #000;
    text-decoration: none;
}

#main-container .icon {
    font-size: 40px;
    margin-top: 20px;
}

#main-container .body{
    flex: 1;
}
